<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantillas/partes ::head(#{index.title})"></head>
<body class="box-border bg-white select-none">
    <header th:replace="plantillas/partes :: cabecero(#{plantilla.titulo})"></header>
    <h2 class="text-sm text-gray-400 px-4">Pagina de inicio</h2>

    <a class="mx-8 mt-2 text-cyan-400 transition-colors duration-200 ease-in-out" title="Agregar Usuario" th:href="@{/agregar}">
        <i id="add-icon" class="bi bi-person-plus text-2xl"></i>
    </a>

    <h4 class="mx-4 mt-4 px-4 bg-gray-200"><i class="bi bi-person-fill"></i> LISTA DE PERSONAS</h4>

    <div class="mx-4" th:if="${usuarios != null and !usuarios.empty}">
        <table class="table table-fixed border-collapse border-gray-300 border-1 w-full text-center">
            <tr class="text-cyan-500">
                <th>NOMBRE</th>
                <th>EMAIL</th>
                <th>ROLE</th>
                <th>STATUS</th>
                <th>ACTIONS</th>
            </tr>
            <tr class="odd:bg-white even:bg-slate-100" th:each="u: ${usuarios}">
                <td class="py-2" th:text="${u.name}"></td>
                <td class="py-2" th:text="${u.email}"></td>
                <td class="py-2" th:text="${u.role}"></td>
                <td class="py-2" th:text="${u.status}"></td>
                <td class="py-2" ><a class="p-2 hover:bg-indigo-700 transition-all duration-300 rounded-xs hover:text-white" th:href="@{/editar/}+${u.id}" th:utext="#{table.usuario.editar}"></a> <a class="delete-icons hover:bg-red-500 hover:text-white rounded-xs transition-all duration-300 p-2" th:href="@{/eliminar(id=${u.id})}" th:utext="#{table.usuario.eliminar}"></a></td>
            </tr>
        </table>
    </div>
    <div th:if="${usuarios == null or usuarios.empty}">
        La lista de usuarios esta vacía.
    </div>
    <footer th:replace="plantillas/partes :: pie"></footer>
    <script th:replace="plantillas/partes :: script"></script>
</body>
</html>