<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header th:replace="plantillas/partes :: cabecero"></header>
    <h2>Pagina de inicio</h2>
    <a th:href="@{/agregar}">AGREGAR USUARIO</a>
    <hr>

    <h4>LISTA DE PERSONAS</h4>
    <hr>
    <div th:if="${usuarios != null and !usuarios.empty}">
        <table border="1">
            <tr>
                <th>CEDULA</th>
                <th>CLAVE</th>
                <th>NOMBRE</th>
                <th>EMAIL</th>
                <th>ACTION</th>
            </tr>
            <tr th:each="u: ${usuarios}">
                <td th:text="${u.cedula}"></td>
                <td th:text="${u.clave}"></td>
                <td th:text="${u.nombre}"></td>
                <td th:text="${u.email}"></td>
                <td><a th:href="@{/editar/}+${u.cedula}" th:text="EDITAR"></a> <a th:href="@{/eliminar(cedula=${u.cedula})}" th:text="ELIMINAR"></a></td>
            </tr>
        </table>
    </div>
    <div th:if="${usuarios == null or usuarios.empty}">
        La lista de usuarios esta vacía.
    </div>
    <footer th:replace="plantillas/partes :: pie"></footer>
</body>
</html>